h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-primary);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.img {
  display: block;
  height: auto;
  max-width: 100%;
}
