.address {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 70px;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: var(--text-color-secondary);
  font-style: normal;

  &--light {
    color: var(--basic-background-color);
  }
}
