.hero {
  background-color: var(--brand-background-color);
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-img@2x.jpeg);
  }

  @media screen and (max-width: 1199px) {
    height: 400px;
    padding: 118px 0;
  }

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    width: 696px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--basic-background-color);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1199px) {
      font-size: 26px;
      line-height: calc(42 / 26);
      width: 360px;
    }
  }
}
