.mobile-menu {
    // position: absolute;
    // background-color: #fff;
    // outline: 1px solid red;
  display: none;
  align-items: center;
  width: 100%;
  margin-left: 90px;

//     @media screen and (max-width: 768px) {
//     top: 100%;
//     padding: 48px 40px;
//     min-width: 480px;
//   }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
