.nav-list {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 481px) {
    gap: 50px;
  }

  &__link {
    display: block;
    color: var(--text-color-primary);
    padding: 16px 0;
    position: relative;

    @media screen and (min-width: 480px) {
      padding: 32px 0;
    }
  }

  &__link--active {
    color: var(--text-color-accent);
  }

  &__link--active::after {
    @media screen and (min-width: 768px) {
      content: "";
      height: 4px;
      width: 100%;
      border-radius: 2px;
      background-color: var(--text-color-accent);
      position: absolute;
      left: 0;
      bottom: -1px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: var(--text-color-accent);
  }
}