.our-work {
  background-color: var(--header-background-color);
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
  }

  &__text {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--basic-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
  }
}
